.sidebaritem-container {
    display: flex;
    justify-content: center;

    padding: 0 30px;
}

.item-title {
    font-size: 24px;
}

.action-button {
    border-radius: 8px !important;
    padding: 0 30px !important;

    font-size: 14px !important;
}

.item-subtitle {
    font-size: 16px;
}

.avatars {
    border: 1px solid #F0F0F5;
}

.avatars:not(:first-child) {
    margin-left: -5px;
}