.sidebar-container {
    height: 80%;
    width: 400px;
    background: #F9F9F9;
    border-radius: 8px;

    margin-top: 30px;
    margin-left: 50px;
}

.sidebar-title {
    font-family: Roboto, sans-serif;
    font-size: 38px;
    font-weight: 400;
    color: #2F2E41;

    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.hr-title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: 0 30px;
    color:#2F2E41 !important;
}

.hr-item {
    margin: 20px 50px;
}